body {
    background: #eee;
    font: 14px Verdana;
    margin: 0px;
    padding: 0px;
}


form {
    margin: 10px;
}
    form input {
        margin-right: 8px;
    }

    input[type="button"] {
        margin-top: 5px;
        margin-left: 425px;
    }

    button {
        margin-top: 5px;
        margin-left: 425px;
    }

.tableHeadings {
	background-color:  #373049;
    color: #fff;
    text-align: center;
}

table {
	border:  1px solid #ccc;
    background-color:  #fff;
    margin: 5px;
}
	table tr td {
		border-top:  0px;
		border-left:  0px;
		border-right: 0;
		border-bottom:  1px solid #ccc;
		padding: 3px;
    }
    

.tablePreview {
    margin: 100px;
    width: 560px;
}
    .tablePreview h2 {
        margin-left: 150px;
    }